.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #4e0000;
  border-radius: 10px;
  background: #661313;
  color: white;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #ce9d64;
  border-color: #661313;
}

.button--inverse {
  background: transparent;
  color: #c91818;
}

.button--inverse:hover,
.button--inverse:active {
  color: white;
  background: #c91818;
}

.button--danger {
  background: #c90000;
  border-color: #aa0101;
}

.button--danger:hover,
.button--danger:active {
  background: #ff0000;
  border-color: #c90000;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}
