#demo {
  background: #a43574;
  background: -moz-linear-gradient(top, #a43574 0%, #c10e0e 50%, #c59237 100%);
  background: -webkit-linear-gradient(
    top,
    #a43574 0%,
    #c10e0e 50%,
    #c59237 100%
  );
  background: linear-gradient(to bottom, #a43574 0%, #c10e0e 50%, #c59237 100%);
}
