#demo {
  background: #5f2121;
  background: -moz-linear-gradient(top, #5f2121 0%, #c10e0e 50%, #c59237 100%);
  background: -webkit-linear-gradient(
    top,
    #5f2121 0%,
    #c10e0e 50%,
    #c59237 100%
  );
  background: linear-gradient(to bottom, #5f2121 0%, #c10e0e 50%, #c59237 100%);
}
